<template name="games">
	<div>
		<h3>Games</h3>
    {{#if creating}}
			<form class="form-create">
				<select name="teamOne">
          {{#each teams}}
						<option value="{{_id}}">{{name}}</option>
          {{/each}}
				</select>

				vs

				<select name="teamTwo">
          {{#each teams}}
						<option value="{{_id}}">{{name}}</option>
          {{/each}}
				</select>

				<button type="submit">Submit</button>
				<a class="cancel" href="#">Cancel</a>
			</form>
    {{else}}
			<a href="#" class="create">Create</a>
    {{/if}}
		<ul>
      {{#transition}}
        {{#each games}}
          {{> game}}
        {{/each}}
      {{/transition}}
		</ul>
	</div>
</template>